.header {
    background-color: var(--Magic-Potion);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 8rem;
    height: 8rem;
}
.logo-site{
    text-decoration: none;
    color: white;
    font-size: 2.4rem;
    font-weight: bold;
}
.navbar_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.icon-hamburguer {
    color: white;
    font-size: 2.4rem;
}
.navbar_right {
    display: none;
}
.menu-main {
    display: none;
}
.menu-authentication {
    list-style: none;
    padding: 0;
    display: flex   ;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.menu-authentication .item-3{
    display: none;
}
.btn{
    border: solid yellow;
    padding: .6rem 1.2rem;
    border-radius: 1.5rem;
    box-sizing: border-box;
    text-decoration: none;
}
.btn-primary{
    background: white;
    border: 1px solid white;
    color: var(--Magic-Potion);
}
.btn-outline-primary{
    border: 1px solid white;
    color: white;
}
.btn-secundary{
    border: 1px solid transparent;
    color: white;
}
/** Main */
.main {
    flex-grow: 1;
}

/** Main: Section Call to Action */
.section-call-to-action {
    background: var(--Coral-Reef);
    display: flex;
    /* height: 44rem; */
    border-radius: 0 0 0 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    margin: 4rem 0;
}

/** Main: Section Designed for the Future */
.content-designed-for-the-future {
    margin: 9rem 0;
}

.img-designed-for-the-future {
    max-width: 100%;
    width: 100%;
    margin-bottom: 8rem;
}

.content-designed-for-the-future p {
    /* color: blue; */
    text-align: left;
    line-height: 1.9rem;
    font-size: 1.2rem;
}

.section-2 {
    /* border: 1px solid; */
    width: 84%;
    margin: 0 auto;
}

/** Main: State of the art */
.section-state-of-the-art {
    margin: 24rem 0 0;
    color: white;
}
.bg-jacarta {
    background: var(--Jacarta);
    height: 47rem;
    border-radius: 0 12rem;
}

.content-state-of-the-art {
    height: 60rem;
}

.content-state-of-the-art .section-1 {
    display: flex;
    position: relative;
    top: -13rem;
    justify-content: center;
    align-items: center;
}

.img-state-of-art {
    width: 30rem;
    max-width: 30rem;
}

.content-state-of-the-art .section-2 {
    position: relative;
    top: -16rem;
}

.content-state-of-the-art h2 {
    font-size: 3.7rem;
    font-weight: normal;
}

.content-state-of-the-art p {
    text-align: left;
    line-height: 1.9rem;
    font-size: 1.2rem;
}
